<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>onlinebooks</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

    <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
   

  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Load</servlet-name>
    <servlet-class>com.Load</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Load</servlet-name>
    <url-pattern>/Load</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>AllReviews</servlet-name>
    <servlet-class>com.AllReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllReviews</servlet-name>
    <url-pattern>/AllReviews</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>LocationReviews</servlet-name>
    <servlet-class>com.LocationReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationReviews</servlet-name>
    <url-pattern>/LocationReviews</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>Assign</servlet-name>
    <servlet-class>com.Assign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assign</servlet-name>
    <url-pattern>/Assign</url-pattern>
  </servlet-mapping>

 
</web-app>